.footer {
  display: grid;
  grid-template-columns: 60% 20% 20%;
  width: 100%;
  padding: 80px 8%;
  color: #fff;
}

.footer .links {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer .links ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
  padding: 0;
}

.footer .links ul a {
  color: #00aaff; 
  text-decoration: none;
  transition: .6s;
}

.footer .links ul a:hover {
    color: rgb(255, 0, 0);
    filter: drop-shadow(0 8ox 4ox var(--main-color));
    transform: translateY(-5px);
  text-decoration: underline;
}

.footer .social {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.footer .social i {
  font-size: 1.2rem;
  cursor: pointer;
  transition: .8s;
}

.footer .social i:hover {
    filter: drop-shadow(0 8px 16px var(--main-color));
    transform: translateY(-5px) scale(11.05);
    color: red;
}

@media (max-width: 768px) {
  .footer {
    grid-template-columns: 50% 25% 25%;
  }
}

@media (max-width: 500px) {

  .footer .links {
    margin: 35px 0;
  }
  
  .footer {
    grid-template-columns: 1, 1fr;
  }
}